<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <!--Form 1 -->
    <h3>Form 1: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form1.as_p }}
        <button type="submit" name="btnform1">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 2 -->
    <h3>Form 2: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form2.as_p }}
        <button type="submit" name="btnform2">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 3 -->
    <h3>Form 3: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form3.as_p }}
        <button type="submit" name="btnform3">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 4 -->
    <h3>Form 4: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form4.as_p }}
        <button type="submit" name="btnform4">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 5 -->
    <h3>Form 5: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form5.as_p }}
        <button type="submit" name="btnform5">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 6 -->
    <h3>Form 6: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form6.as_p }}
        <button type="submit" name="btnform6">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 7 -->
    <h3>Form 7: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form7.as_p }}
        <button type="submit" name="btnform7">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 8 -->
    <h3>Form 8: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form8.as_p }}
        <button type="submit" name="btnform8">Upload</button>
    </form>
    <br>
    <hr>
    <!--Form 9 -->
    <h3>Form 9: </h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form9.as_p }}
        <button type="submit" name="btnform9">Upload</button>
    </form>
</body>
</html>